In [2]:
import pandas as pd

In [6]:
iris = pd.read_csv('data/iris.csv')

In [8]:
iris.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [11]:
rs = pd.read_csv('data/house-price.csv')

rs.head(5)